<div>
  <div id="designCircle1"></div>
  <div id="designCircle2"></div>
  <div id="designCircle3"></div>
</div>
<div class="list" id="list-wrapper" #mainListWrap >

  <ul id="list1Wrap" #list1Wrap [ngClass]="{'hideList': hideListFlag}">
    <li *ngFor="let item of leftList">
      <img [src]=" (item.active) ? item.path_gif : item.path_img"
           (load)="loadImgExml($event, item)"
           class="imgExmpl"
           #imgExmpl
           ngxClipboard
           attr.data-active="{{item.active ? 'load': 'unload'}}"
           [width]="item.elWidth"
           [height]="item.elHeight"
           attr.data-offset="{{item.offsetPosition}}"
           [cbContent]="item.path_gif"
           (click)="copyUrl(item) && isCopied">
      <span *ngIf="item.active" class="loader">
        <?xml version="1.0" encoding="UTF-8" standalone="no"?><svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="64px" height="64px" viewBox="0 0 128 128" xml:space="preserve"><g><path fill="#cf4858" fill-opacity="1" d="M109.25 55.5h-36l12-12a29.54 29.54 0 0 0-49.53 12H18.75A46.04 46.04 0 0 1 96.9 31.84l12.35-12.34v36zm-90.5 17h36l-12 12a29.54 29.54 0 0 0 49.53-12h16.97A46.04 46.04 0 0 1 31.1 96.16L18.74 108.5v-36z"/><animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="1200ms" repeatCount="indefinite"></animateTransform></g></svg>
      </span>
      <span *ngIf="item.active" class="copy"><img src="assets/copied.png" alt=""></span>
    </li>
    <li class="newsBlock" *ngIf="showNewsFlag == 'left'">
      <img src="{{newsData[0].img_link}}" alt="">
      <span>{{newsData[0].name}}</span>
    </li>
  </ul>

  <ul id="list2Wrap" #list2Wrap [ngClass]="{'hideList': hideListFlag}">
    <li *ngFor="let item of rightList">
      <img [src]=" (item.active) ? item.path_gif : item.path_img"
           (load)="loadImgExml($event, item)"
           class="imgExmpl"
           #imgExmpl
           ngxClipboard
           [width]="item.elWidth"
           [height]="item.elHeight"
           attr.data-offset="{{item.offsetPosition}}"
           [cbContent]="item.path_gif"
           (click)="copyUrl(item) && isCopied">
      <span *ngIf="item.active" class="loader">
        <?xml version="1.0" encoding="UTF-8" standalone="no"?><svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="64px" height="64px" viewBox="0 0 128 128" xml:space="preserve"><g><path fill="#cf4858" fill-opacity="1" d="M109.25 55.5h-36l12-12a29.54 29.54 0 0 0-49.53 12H18.75A46.04 46.04 0 0 1 96.9 31.84l12.35-12.34v36zm-90.5 17h36l-12 12a29.54 29.54 0 0 0 49.53-12h16.97A46.04 46.04 0 0 1 31.1 96.16L18.74 108.5v-36z"/><animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="1200ms" repeatCount="indefinite"></animateTransform></g></svg>
      </span>
      <span *ngIf="item.active" class="copy"><img src="assets/copied.png" alt=""></span>
    </li>
    <li class="newsBlock" *ngIf="showNewsFlag == 'right'">
      <img src="{{newsData[0].img_link}}" alt="">
      <span>{{newsData[0].name}}</span>
    </li>
  </ul>



</div>




