:host {
  display: block;
}
#list-wrapper {
  content: "";
  clear: both;
  display: table;
  font-size: 0;
  width: 100%;
  height: auto;
}
#list1Wrap, #list2Wrap {
  display: inline-block;
  width: 50%;
  float:left;
  padding-left: 0;
  transition: 0.4s;
}
#list2Wrap {
  float: right;
}
#list1Wrap li,
#list2Wrap li {
  position: relative;
  border: 2px solid transparent;

}
#list1Wrap.hideList,
#list2Wrap.hideList {
  opacity:0;
}

.imgExmpl{
  display: block;
  opacity: 0;
  width: 100%;
  height: auto;
  transition: all 0.4s;
}
.loaded {
  opacity: 1;
}
.finish-adw-block {
  background: red;
}
.loader {
  display: block;
  width: 13%; height: auto;
  position: absolute;
  top: 5px; left: 5px;
  background: rgba(255,255,255,0.1);
  box-shadow: 1px 1px 4px -1px #000;
  border-radius: 100%;
  z-index: 1;
}
.loader svg {
  width: 100%; height: auto;
  display: block;
}

span.copy {
  display: block;
  position: absolute;
  bottom: 0; right: 0;
  width: 50%; height: auto;
}
span.copy img {
  display: block;
  width: 80%;
  margin-left: 15%;
  opacity: 0.65;
}



#designCircle1 {
  width: 150px;
  height: 150px;
  background: #5a5d64;
  border-radius: 150px;
  position: absolute;
  top: 95px;
  left: -15px;
  box-shadow: inset 0px 0px 8px 2px #111;
}
#designCircle2 {
  width: 200px;
  height: 200px;
  background: #5a5d64;
  border-radius: 150px;
  position: absolute;
  top: -20px;
  right: -85px;
  box-shadow: inset 0px 0px 12px 2px #111;
}
#designCircle3 {
  width: 100px;
  height: 100px;
  background: #5a5d64;
  border-radius: 150px;
  position: absolute;
  top: 255px;
  left: 155px;
  box-shadow: inset 0px 0px 8px 2px #111;
}

.newsBlock {
  width: 100%;
  height: 150px;
  border: 2px solid  rgb(207, 72, 88);
  overflow: hidden;
  box-sizing: border-box;
}
.newsBlock img {
  width: 100%;
  display: block;
}
.newsBlock span {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font: 20px 'font';
}
