<div class="header-wrapper" #header>
  <div class="logo">
    <img [ngClass]="{'border-box': true}" src="assets/logo.png" alt="">
  </div>
  <span id="category">
    <span id="maincat">{{mainCat}}</span>
    <span id="subcat">{{subCat}}</span>
  </span>

  <div class="copiedHistory" (click)="showHistory($event, header)">
    <span>copied <br> history</span>
  </div>

  <app-copied-history *ngIf="showHistoryMark"></app-copied-history>

</div>

