:host {
  display: block;
  height: auto;
}
.header-wrapper {
  width: 100%;
  min-height: 50px;
  max-height: 100%;
  /*overflow-y: hidden;*/
  position: absolute;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  filter: blur(0.5px);
  box-shadow: 1px 1px 4px -1px #000;
  transition: 0.5s;
}
.header-wrapper.open {
  height: 100%;
}

/* logo */
.logo {
  display: inline-block;
  width: auto;
  height: 100%;
}
.logo img {
  display: block;
  height: 50px;
  padding: 10px;
}

#category {
  vertical-align: top;
  display: inline-block;
  height: 100%;
}
#category span {
  display: block;
  height: auto;
  padding: 6px 0px 0px 0px;
  color: #ffffff;
  font-family: 'Arial';
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 1.5px 1.5px #000;
  text-transform: uppercase;
}

.copiedHistory {
  position: absolute;
  right: 5px; top: 0;
  width: auto;
  height: auto;
  font: 20px 'font';
  color: #fff;
  line-height: 16px;
  padding: 4px 3px;
  margin: 5px 5px 0 5px;
}
.copiedHistory {
  border: 1px solid #fff;
  border-radius: 100%;
  box-shadow: 2px 2px 3px -1px #000;
  text-shadow: 1px 1px #000;

}
