#rotate {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}
#gui {
  overflow: visible;
  position: absolute;
  left:0;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mainType {
  position: absolute;
  transform: rotate(-90deg);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#gui /deep/ .radialnav .radialnav-sector,
#mainType /deep/ .radialnav .radialnav-sector {
  pointer-events: fill;
  /*fill: rgba(0,0,0,.9);*/
}
/deep/.hide {
  display: none;
}
/deep/.radialnav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: visible;
}
/deep/.radialnav > g > g {
  pointer-events: none;
  user-select: none;
}
/deep/.radialnav-sector {
  fill: rgb(96, 120, 125);
  stroke: rgba(255,255,255,1);
  stroke-width: 1;
  transition: all .3s;
  overflow: hidden;
}
/deep/.radialnav-sector.active {
  fill: rgba(255,255,255,1);
}
#gui /deep/.radialnav-icon.active {
  fill: #fff !important;
}
#mainType /deep/ .radialnav .radialnav-icon.active {
  fill: rgb(207, 72, 88) !important;
}
/deep/.radialnav-hint {
  fill: #fff;
  font: bold .95em 'font', Arial, sans-serif;
  text-transform: uppercase;
  text-anchor: middle;
  letter-spacing: 1px;
  transition: all .3s;
  display: none;
}
/deep/.radialnav-hint.active {
  opacity: 1;
}
#gui /deep/ .radialnav .radialnav-sector{ fill: rgb(207, 72, 88) }
#gui /deep/ .radialnav-icon { fill: #fff; }
#gui /deep/ .radialnav-hint { display: block; }


