:host {
  display: block;
}
#wrapper {
  overflow-y: scroll;
  opacity: 0;
  transition: 0.2s;
  font-size: 0;
  text-align: center;
}
#wrapper.show {
  opacity: 1;
}

ul {
  display: inline-block;
  width: 50%;
  overflow: hidden;
  padding: 0;
  position: relative;
  vertical-align: top;
  padding-bottom: 40px;
  box-sizing: border-box;
}
ul li > span {
  display: inline-block;
  width: 100%; height: auto;
  position: relative;
  padding: 2px;
  box-sizing: border-box;
}

ul li > span > img {
  width: 100%;
  height: auto;
  display: block;
}
span.mainCat {
  position: absolute;
  top: 10px; left: 0px;
  padding: 2px 5px 2px 5px;
  margin-left: 2px;
  font: 14px 'font';
  background: rgba(255,255,255,0.8);
  color: #000;
  text-shadow: 1px 1px #fff;
}
span.subCat {
  position: absolute;
  top: 27px; left: 0px;
  padding: 2px 5px 2px 5px;
  margin-left: 2px;
  font: 14px 'font';
  background: #2ecc71;
  color: #fff;
  text-shadow: 1px 1px #000;
}

span.copy {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50%;
  height: auto;
}
span.copy img {
  display: block;
  width: 80%;
  margin-left: 15%;
  opacity: 0.65;
}

.nodata {
  font: 24px 'font';
  color: #fff;
}
