<div id="wrapper" style.height="{{circleSize}}px" class="{{showHistory ? 'show' : ''}}">

  <ul *ngIf="historyList.length">
    <li *ngFor="let item of historyList; let i = index" >
      <span *ngIf="i%2? true: false"
            ngxClipboard
            [cbContent]="item.path_gif"
            (click)="copyUrl(item, $event) && isCopied">
        <img src="{{item.path_gif}}" alt="{{i}}"
             style.height="{{item.elWidth > item.elHeight ? '100%' : 'auto'}}">
        <span class="mainCat">{{item.mainCat}}</span>
        <span class="subCat">{{item.subCat}}</span>
        <span *ngIf="item.active" class="copy"><img src="assets/copied.png" alt=""></span>
      </span>
    </li>
  </ul>
  <ul>
    <li *ngFor="let item of historyList; let i = index">
      <span *ngIf="i%2? false : true "
            ngxClipboard
            [cbContent]="item.path_gif"
            (click)="copyUrl(item, $event) && isCopied">
        <img src="{{item.path_gif}}"
             style.height="{{item.elWidth > item.elHeight ? '100%' : 'auto'}}">
        <span class="mainCat">{{item.mainCat}}</span>
        <span class="subCat">{{item.subCat}}</span>
        <span *ngIf="item.active" class="copy"><img src="assets/copied.png" alt=""></span>
      </span>
    </li>
  </ul>
  <div *ngIf="!historyList.length" class="nodata">
    <span>Your <i>Copied History</i> is empty!</span>
  </div>
</div>
