/*:host {*/
  /*display: block;*/
  /*width: 25%;*/
  /*margin: 0 auto;*/
  /*background: red;*/
  /*height: auto;*/
/*}*/
i {
  display: block;
  width:100%;
  height: 100%;
  border-radius: 100%;
  /*border: 2px solid #fff;*/
}


