/* You can add global styles to this file, and also import other style files */
@font-face { font-family: "font"; src: url("./assets/font.ttf"); }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #ffffff;
  position: relative;
  overflow: hidden;
  -webkit-font-smothing: antialiased;
}

body * {
  margin: 0;
}

body > svg {
  position: absolute;
  top:0;
  z-index: 10;
}

.border-box {
  box-sizing: border-box;
}



